/*
* @Author: zhanghuiming
* @Date:   2017-09-10 08:36:00
* @Last Modified by:   zhanghuiming
* @Last Modified time: 2017-09-10 08:37:23
*/
input{
	margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}