
	<div class="author_pic"></div>
	<% if (user) { %>
		<h3 class="author_name"><%- user.name %></h3>
	<% } else { %>
		<h3 class="author_name">nodejs</h3>
	<% } %>
	
	<ul class="funlist">
		<li><a href="/">我的首页</a></li>
		<li><a href="/mynote">我的笔记</a></li>
		<li><a href="/addnote">新建笔记</a></li>
		<li><a href="/mytags">我的标签</a></li>
	</ul>

	

    <div>状态：</div>
	<% if (success) { %>
	    <div><%= success %></div>
	<% } %>
	<% if (error) { %>
	    <div><%= error %> </div>
	<% } %>

