/*
* @Author: zhanghuiming
* @Date:   2017-06-23 10:59:03
* @Last Modified by:   zhanghuiming
* @Last Modified time: 2017-06-23 10:59:35
*/
.HomePage{
	width:100%;
	height:100%;
	background:#336699;
}