<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>example - page2</title>
    </head>
    <body>
	    <div id="app">
	    	<p>
	    		<label for="uname">username: </label><input type="text" name="uname" placeholder="key your nikename please">
	    	</p>
	    	<p>
	    		<label for="upass">password: </label><input type="password" name="upass">
	    	</p>
	    	<p><button>Login</button></p>
	    </div>
	    <script src="/page2/bundle.js"></script>
	    <script src="/reload/reload.js"></script>
    </body>
</html>